<div class="wrapper">
    <form [formGroup]="form" (submit)="onSubmit()">
        <div>
            <p>
                <label for="email">Email: </label>
            </p>
            <p>
                <input id="email" type="text"  formControlName="email">
            </p>
        </div>
        <div>
            <p>
                <label for="password">Пароль: </label>
            </p>
            <p>
                <input id="password" type="password"  formControlName="password">
            </p>
        </div>
        <div class="wrapper__footer">
            <button type="submit">ОК</button>
        </div>
    </form>
</div>