@import '../../../../styles/variables';

header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background: $color-border;
}

main {
    padding: 30px;
    min-height: 50vh;
}